@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
:root
{
/* gradiasi */
--gradient-1: linear-gradient(to bottom, hsl(299, 100%, 52%), hsl(291, 100%, 58%), hsl(283, 100%, 60%), hsl(273, 100%, 62%), hsl(273, 100%, 62%), hsl(273, 100%, 62%), hsl(262, 100%, 63%), hsl(242, 100%, 69%), hsl(223, 100%, 62%), hsl(210, 100%, 50%), hsl(203, 100%, 50%), hsl(198, 100%, 50%));
--gradient-4: linear-gradient(to bottom right, hsl(299, 100%, 52%), hsl(291, 100%, 58%), hsl(283, 100%, 60%), hsl(273, 100%, 62%), hsl(273, 100%, 62%), hsl(273, 100%, 62%), hsl(262, 100%, 63%));
/* --gradient-1: linear-gradient(to right, hsl(299, 100%, 52%), hsl(291, 100%, 58%), hsl(283, 100%, 60%), hsl(273, 100%, 62%), hsl(273, 100%, 62%), hsl(273, 100%, 62%), hsl(262, 100%, 63%), hsl(242, 100%, 69%), hsl(223, 100%, 62%), hsl(210, 100%, 50%), hsl(203, 100%, 50%), hsl(198, 100%, 50%)); */
--gradient-2: linear-gradient(to top, transparent 0%, #9841ff 50%, transparent 100%);
--gradient-3: linear-gradient(to bottom right, hsl(223, 100%, 62%), hsl(210, 100%, 50%), hsl(203, 100%, 50%), hsl(198, 100%, 50%));
/* bg */
--bg-purple: hsla(267, 100%, 63%, 1);
--bg-purple-alpha-30: hsla(267, 100%, 63%, 0.3);
--bg-dark-purple: hsla(279, 42%, 9%, 1);
--bg-oxford-blue: hsla(240, 63%, 13%, 1);
--bg-oxford-blue-alpha-95: hsla(240, 63%, 13%, 0.95);
--bg-oxford-blue-alpha-90: hsla(240, 63%, 13%, 0.9);
--bg-oxford-blue-alpha-80: hsla(240, 63%, 13%, 0.8);
/* border */
--border-space-cadet: hsl(240, 45%, 17%);
--border-purple-alpha-30: hsla(267, 100%, 63%, 0.3);
/* font color */
--text-white: hsla(0, 0%, 100%, 1);
--text-gainsboro: hsla(0, 0%, 87%, 1);
--text-champagne-pink: hsla(23, 61%, 86%, 1);
--text-purple: hsla(267, 100%, 63%, 1);
/* clip path  */
--clip-path-1: polygon(0 0, 100% 0, 100% 0, 0 0);
--clip-path-2: polygon(0 0, 100% 0, 100% 100%, 0 100%);
--clip-path-3: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
--clip-path-4: polygon(90% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
--clip-path-5: polygon(100% 0, 100% 100%, 10% 100%, 0 60%, 0 0);
--clip-path-6: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 40%);
--clip-path-7: polygon(100% 0, 100% 60%, 90% 100%, 0 100%, 0 0);
--clip-path-8: polygon(0% 0%, 70% 0, 100% 30%, 100% 100%, 0 100%);
--clip-path-9: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input 
{
  font-family: "Poppins", sans-serif;
}

.container 
{
  position: relative;
  width: 100%;
  background-color: var(--bg-dark-purple);
  min-height: 100vh;
  overflow: hidden;
}

.forms-container 
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup
 {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form 
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form 
{
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title 
{
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field 
{
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i 
{
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input 
{
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder 
{
  color: #aaa;
  font-weight: 500;
}

.paragraft
{
    width: 350px;
    /* text-align: justify; */
}

.mx
{
    margin: 0;
}

.px
{
    padding: 0;
}

.title
{
    color: var(--text-white);
}

.social-text 
{
  padding: 0.7rem 0;
  font-size: 1rem;
  color: var(--text-white);
}

.social-media 
{
  display: flex;
  justify-content: center;
}

.social-icon 
{
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #ffffff;
  border-radius: 50%;
  border: 1px solid #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover
 {
  color: #4481eb;
  border-color: #4481eb;
}

.btn 
{
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 50px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover
 {
  background-color: #4d84e2;
}

.btn2
{
    position: relative;
    background-image: var(--gradient-4);
    color: var(--text-white);
    font-size: 20px;
    font-weight: 500;
    max-width: max-content;
    min-width: 180px;
    height: 50px;
    display: grid;
    place-items: center;
    padding-inline: 30px;
    clip-path: var(--clip-path-3);
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.btn2::before
{
    content: "";
    position: absolute;
    /* lanjut nanti */
}



.btn3
{
    position: relative;
    background-image: var(--gradient-3);
    color: var(--text-white);
    font-size: 20px;
    font-weight: 500;
    max-width: max-content;
    min-width: 180px;
    height: 50px;
    display: grid;
    place-items: center;
    padding-inline: 30px;
    clip-path: var(--clip-path-3);
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.panels-container
 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before 
{
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: var(--gradient-1);
  /* box-shadow: inset 0 0 12px 12px rgba(218, 240, 255, 0.827), inset 0 0 3px 2px rgb(230, 0, 255); */
  /* background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); */
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image 
{
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
  transform: translatey(75px)translateX(-20px);
}

.panel 
{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel 
{
  pointer-events: all;
  padding: 20px;
}

.right-panel
{
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content 
{
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
  transform: translateX(-220px) translatey(70px);
}

.panel h3 
{
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p 
{
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent 
{
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content 
{
  transform: translateX(800px);
}

/* ANIMASI */

.container.sign-up-mode:before 
{
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content 
{
  transform: translateX(-900px) translateY(100px);
}

.container.sign-up-mode .signin-signup 
{
  left: 25%;
}

.container.sign-up-mode form.sign-up-form 
{
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form 
{
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content 
{
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel 
{
  pointer-events: none;
}

.container.sign-up-mode .right-panel 
{
  pointer-events: all;
}

@media (max-width: 870px) 
{
  .container 
  {
    min-height: 800px;
    height: 100vh;
  }

  .btn3
  {
    margin-top: 50px;
    padding-top: 50px;
    
  }

  .signin-signup 
  {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup 
  {
    left: 50%;
  }

  .panels-container 
  {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel 
  {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel 
  {
    grid-row: 3 / 4;
  }

  .left-panel 
  {
    grid-row: 1 / 1;
    transform: translateX(220px) translateY(-70px);
  }

  .image 
  {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content 
  {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 
  {
    font-size: 1.2rem;
  }

  .panel p 
  {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent 
  {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before 
  {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before 
  {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content 
  {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content 
  {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content 
  {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup 
  {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) 
{
  form 
  {
    padding: 0 1.5rem;
  }

  .image 
  {
    display: none;
  }
  .panel .content 
  {
    padding: 0.5rem 1rem;
  }
  .container 
  {
    padding: 1.5rem;
  }

  .container:before 
  {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before 
  {
    bottom: 28%;
    left: 50%;
  }
}